# Ignore these directories
/tests
**/data
**/__pycache__

# Ignore these files
my_script_setup.sh
EXAMPLE_script_settings.json
requirements.txt
environment.yml
subjects.json
*.egg-info
*.code-workspace