# Ignore these directories
/tests
/scratch
/sherlock_transfers
/forward_tool_transfers
/jupyter_scratch
**/data
**/__pycache__

# Ignore these files
*.sh
script_settings_copy.json
test_script.py
subjects.py
subjects.json
run_fake_prep.py
sherlock_script.sh
my_script_setup.sh
EXAMPLE_script_settings.json
environment_full.yml
*.egg-info
*.code-workspace