# Ignore these directories
/tests
/scratch
**/data
**/__pycache__

# Ignore these files
subjects.py
run_fake_prep.py
*.sh
sherlock_script.sh
my_script_setup.sh
EXAMPLE_script_settings.json
requirements.txt
environment.yml
subjects.json
*.egg-info
*.code-workspace